#numerocartao {
    display: flex;
    flex-direction: column;
    width: 55.5%;
}

#validadecvv {
    display: flex;
    flex-direction: row;
}

#validade {
    width: 50%;
}

#cvv {
    width: 50%;
    
}

#nomesobrenome {
    display: flex;
    flex-direction: column;
    width: 50%;
}